{% extends 'master/base-content.html' %}
{% load static %}
{% block content %}

{% if response.status == 200 %}
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">Detail Transaksi</h3>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
            </div>
        {% endfor %}

        {% if response.data.detail.status_code == '201' or response.data.detail.status_code == '200' %}
        <div class="detail">
            <div class="list_detail">
                <h5>ID Transaksi</h5>
                <h5>Waktu Transaksi</h5>
                <h5>Tipe Pembayaran</h5>
                <h5>Status Pembayaran</h5>
            </div>
            <div class="list_detail">
                <h5><b>: {{response.data.detail.order_id}}</b></h5>
                <h5><b>: {{response.data.detail.transaction_time}}</b></h5>
                <h5><b>: {{response.data.detail.payment_type}}</b></h5>
                <h5><b>: {{response.data.detail.transaction_status}}</b></h5>
            </div>
        </div>
        {% if response.data.detail.transaction_status == 'pending' %}
        <form action="{% url 'cancel' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_transaction" value="{{response.data.detail.order_id}}"/>
            <button style="margin-left: 30px;" type="submit" class="btn btn-warning">Cancel</button>
        </form>
        {% endif %}
        {% else %}
        <div class="detail">
            <div class="list_detail">
                <h5>Status Pembayaran</h5>
            </div>
            <div class="list_detail">
                <h5><b>: Belum Bayar</b></h5>
            </div>
        </div>
        {% endif %}
        <div class="about-agileinfo w3layouts">
            <div class="col-md-12 about-wthree-grids grid-top">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Foto Item</th>
                            <th scope="col">Nama Item</th>
                            <th scope="col">Toko</th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Total Harga</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in response.cart %}
                        <tr>
                            <td>
                                <img src="{{i.id_item.image_url}}" style="width: 80px;" alt="" class="img-responsive" />
                            </td>
                            <td>{{i.id_item.name}}</td>
                            <td>{{i.id_item.id_store.id}}</td>
                            <td>{{i.qty}}</td>
                            <td>{{i.total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="snipcart-details top_brand_home_details">
                    <input type="button" id="pay-button" value="Bayar" class="button" />
                </div>
            </div>
            <div class="clearfix"> </div>
            <div id="result-json"> </div>
        </div>
    </div>
</div>
<!-- //about -->
{% endif %}

<!-- TODO: Remove ".sandbox" from script src URL for production environment. Also input your client key in "data-client-key" -->
<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-yGhwiv7UtUKsEssD"></script>
<script type="text/javascript">
    document.getElementById('pay-button').onclick = function () {
        // SnapToken acquired from previous step
        snap.pay('{{response.data.token}}', {
            // Optional
            onSuccess: function (result) {
                /* You may add your own js here, this is just example */
                {% comment %} document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2); {% endcomment %}
                window.location.href = '/pay/{{id_trans}}/';
            },
            // Optional
            onPending: function (result) {
                /* You may add your own js here, this is just example */
                {% comment %} document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2); {% endcomment %}
                window.location.href = '/pay/{{id_trans}}/';
            },
            // Optional
            onError: function (result) {
                /* You may add your own js here, this is just example */
                {% comment %} document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2); {% endcomment %}
                window.location.href = '/pay/{{id_trans}}/';
            }
        });
    };
</script>
{% endblock content %}
